.registration-bg-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4e185;
}

.registration-form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #ae431e;
  border-radius: 5px;
  background-color: #f7f7f7;
  margin: 10px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.registration-form-heading {
  margin: 5px 0px 10px 0px;
  color: #ae431e;
  text-align: center;
}

.registration-form-label {
  font-weight: bold;
  font-size: 20px;
  color: #ae431e;
}

.registration-form-input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.registration-form-submit-button {
  height: 30px;
  width: 100%;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid #ae431e;
  border-radius: 5px;
  color: #ae431e;
  font-weight: 600;
}

.registration-response-heading {
  font-weight: bold;
  font-size: 20px;
  color: #ae431e;
  text-align: center;
}
