.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.app-heading {
  font-family: "Courier New", Courier, monospace;
  margin: 15px 0px 5px 0px;
  font-size: 40px;
  width: 100%;
  text-align: center;
}
